:root{
    --black:#000000;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Abyssinica SIL', serif;
    outline: none; border: none;
    text-decoration: none;
    transition: 2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: white;
    padding: 2rem 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.left-side{
    display: flex;
}

/* This logo section is for the CollegCheapEats heading */
header .logo{
    font-size: 2rem;
    color: #727070;
    font-weight: bolder;
}
/* Login Style */
header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #8a8a8a;
}
header .navbar a:hover{
    transition: all 0.5s;
    color: var(--black);
}

/* Changes the heart icon color when hover */
header .icons a{
    font-size: 2.5rem;
    color: #f36eae;
    margin-left: 1.5rem;

}
header .icons a:hover{
    transition: all 0.5s;
    color: #f12f8d;
}

/* Styles for the SearchBox */
form{
    background-color: rgb(179, 174, 174);
    width: 300px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input {
    all: unset;
    font-family: 'Abyssinica SIL', serif;
    font-size: medium;
    color: white;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}
::placeholder{
    color: white;
    opacity: 0.9;
}
button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;   
  }
/* magnifying icon */
svg {
    color: white;
    fill: currentColor;
    width: 40px;
    height: 40px;
    padding: 10px;
  }

/* Begins the styling for the second header */
.nav-categories{
    display: flex;
    flex-direction: row;
    align-items: center;
}


section{
    padding: 2rem 9%;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url("images/Fruit\ Background\ smaller.png") no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 50rem;
}
.home .content h2{
    font-size: 4rem;
    color: black;
}
.home .content p{
    font-size: 2rem;
    color: #727070;
    padding: 1rem 0;
    line-height: 1.5;
}



  /* Adjust the size of content */
  @media(max-width: 991px){

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }
  }